<header class="primary-header container" style="z-index:99">
<div class="container__inner container__inner--bleed u-align-center u-full-height">

<button class="hamburger-menu" type="button" data-behavior="mobileMenu">
<span class="hamburger-menu__patty"></span>
</button>

<nav class="primary-navigation u-full-height">
<ul class="primary-navigation__list" data-behavior="dropDown">
<li class="primary-navigation__dropdown">
<a href="http://www.redbullstudiosnewyork.com/exhibition/2016-exhibitions/">Exhibitions</a>
<ul class="primary-navigation__submenu">
<li><a href="http://www.redbullstudiosnewyork.com/exhibition/2016-exhibitions/"><span>Current</span></a></li>
<li><a href="http://www.redbullstudiosnewyork.com/exhibition/"><span>Upcoming/Past</span></a></li>
</ul>
</li>
<li><a href="http://www.redbullstudiosnewyork.com/artists/">Artists</a></li>
<li><a href="http://www.redbullstudiosnewyork.com/news/">News</a></li>
<li><a href="http://thegiftshopnyc.com" target="_blank">The Gift Shop</a></li>
<li class="primary-navigation__dropdown">
<a href="http://www.redbullstudiosnewyork.com/recording-studio/">Recording</a>
<ul class="primary-navigation__submenu">
<li><a href="http://www.redbullstudiosnewyork.com/recording-studio/"><span>Recording Studio</span></a></li>
<li><a href="http://www.redbullstudiosnewyork.com/radio/"><span>Radio</span></a></li>
</ul>
</li>
<li><a href="http://www.redbullstudiosnewyork.com/about/">About</a></li>
</ul>
<a class="primary-navigation__logo" href="http://www.redbullstudiosnewyork.com">
<svg class="icon icon--logo-primary">
<use xlink:href="#logo-primary"></use>
</svg>
</a>
</nav>
</div>
</header>